# Unity generated
[Libraries/]
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# Rider, VSCode, Visual Studio
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# OS generated
.DS_Store
Thumbs.db

# Other
*.unitypackage
